<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
    <style>
        body{
            background-image: url(/static/css/bg.jpeg);
            background-size: cover;
        }
        .workout,.workout2,.workout3{
            display: flex;
            gap: 20px;
        }
        
        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <div class ="workout">
        <div>
            <img src="/static/css/workout1.jpg"  alt="img1">
        </div>
        <div>
            <img src="/static/css/workout2.jpg" alt="img1">
        </div>
        <div>
            <img src="/static/css/workout3.jpg" alt="img1">
        </div>

        <div>
            <img src="/static/css/workout4.jpg" alt="img1">
        </div>
        

</div>
<div class ="workout2">
    <div>
        <img src="/static/css/workout5.jpg" alt="img1">
    </div>
    <div>
        <img src="/static/css/workout6.jpg" alt="img1">
    </div>
    <div>
        <img src="/static/css/workout7.jpg" alt="img1">
    </div>

    <div>
        <img src="/static/css/workout8.jpg" alt="img1">
    </div>
    

</div>
<div class ="workout3">
    <div>
        <img src="/static/css/workout9.jpg" alt="img1">
    </div>
    <div>
        <img src="/static/css/workout10.jpg" alt="img1">
    </div>
    <div>
        <img src="/static/css/workout11.jpg" alt="img1">
    </div>

    <div>
        <img src="/static/css/workout12.jpg" alt="img1">
    </div>
    

</div>
</body>
</html>