<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DietPlan</title>
    <style>
         body{
        /* background-image: url("https://img.freepik.com/free-vector/fast-food-black-background-poster_1284-14589.jpg");
        background-repeat: no-repeat; 
        background-size: cover; */
        background-color:tomato;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
        .main,
        .second,
        .three {
            display: flex;
            margin: 0 15px;
            gap: 20px;
        }


        li {
            margin-left: 30px;
            color: aliceblue;
        }

        .weight-one,
        .weight-two {
            display: flex;
        }

        .gainweight {
            display: flex;
        }
        button{
            background-color: orange !important;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            border-color: aliceblue;
            color: #fff !important;
            font-size: 16px;
        }
        a{
            text-decoration: none;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <button><a href="homepage.html">GoBack</a></button>
    <h1>
        Follow this Diet plan to lose weight
    </h1>
    <div class="main">
        <div>
            <ul>
                <h2> Early Morning </h2>
                <li> One fruit of choice + 3-4 mixed seeds</li>
                <li>10ml wheatgrass juice + 5 to 6 almonds and walnuts</li>
                <li>10ml Spiruline or green leafy veggie juice +1 fruit of your choice</li>
                <li>10ml Amla juice + 3-4 wainuts and almonds mix </li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Breakfast</h2>
                <li>Open panner sandwich with mint chutney </li>
                <li> 2 idlis with sambhar</li>
                <li>1 bowl vegetable sprout poha with chutney </li>
                <li> 3-4 dal paddu with sambhar</li>
                <li>2 medium dal paranthas + 1 bowl low-fat curd</li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Mid-Morning</h2>
                <li>4 walnuts and 2 dates </li>
                <li> Fruit of your choice</li>
                <li>1 glass Whey protein shake with milk/assorted fruit platter</li>
                <li>1 fruit of your choice/fistful of Assorted nuts </li>
                <li> 2 tbsp of trail mix</li>
                <li>Amaranth seeds chikki </li>
                <li>3-4 dry fruits</li>
            </ul>
        </div>
    </div>
    <div class="second">
        <div>
            <ul>
                <h2>Pre-Lunch</h2>
                <li>1 plate of preferred salad with vinegar dressing</li>
                <li>1 bowl minestrone soup with more veggies and less of pasta</li>
                <li>1 bowl sprout salad of choice </li>
                <li>1 bowl mixed veggies chunky soup</li>
                <li>1 bowl sprout salad </li>
                <li>1 bowl grilled chicken or fish salad</li>
            </ul>
        </div>
        <div class="lunch">
            <ul>
                <h2>Lunch</h2>
                <li>2 multigrain roti </li>
                <li>1 Katori red or brown rice + I Dal + Veg</li>
                <li>2 multigrain roti + 1 bowl vegetable subji </li>
                <li> non-veg subji + 1 bowl boiled pulse chaat</li>
                <li>2 multigrain roti + 1 bowl veg or non-veg (seafood, fish, chicken) subji of choice + 1 bowl of thick
                    da</li>
                <li>1 bowl millet and dal khichdi + 1 bowl mixed vegetable kadhai</li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Snack</h2>
                <li>1 glass whey protein drink + Hummus with veggies</li>
                <li>2 multigrain flour khakras </li>
                <li>1 fruit of your choice + 1 cup green tea</li>
                <li>Til or peanut chikki with 1 cup spirulina and mixed veggie juice.</li>
                <li>1 cup spiced boiled corn or 1 corn on the cob + 1 cup coffee, tea or green tea</li>
            </ul>
        </div>
    </div>
    <div class="three">
        <div>
            <ul>
                <h2>Dinner</h2>
                <li>1 bowl chicken gravy + 2 multigrain rotis + salad + 1 bowl low-fat curd</li>
                <li>1 veg paratha + Raitha</li>
                <li>1 bowl fruit and veggie mixed salad of choice + 2 bran rotis (wheat roti or oat bran)</li>
                <li>1 bowl vegetable and mixed seeds salad + 2 multigrain roti + 1 non-veg subji</li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Post-dinner</h2>
                <li>4-5 pieces of nuts/1 glass warm low-fat milkB</li>
                <li>1 glass of whey protein shake if missed during snack</li>
                <li>1 glass of whey protein shake</li>
                <li>1 glass warm milk</li>
            </ul>
        </div>
    </div>
    <div>
        <h1>Healthy Eating for a Healthy Weight</h1>
        <div class="weight-one">
            <div>
                <ul>
                    <h2>Fruit</h2>
                    <li>Fresh, frozen, or canned fruits are great choices</li>
                    <li> Try fruits beyond apples and bananas such as mango, pineapple or kiwi fruit</li>
                </ul>
            </div>
            <div>
                <ul>
                    <h2>Vegetables</h2>
                    <li>Add variety to grilled or steamed vegetables with an herb such as rosemary</li>
                    <li>You can also sauté (panfry) vegetables in a non-stick pan with a small amount of cooking spray
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <h2>Calcium-rich foods</h2>
                    <li>In addition to fat-free and low-fat milk, consider low-fat and fat-free yogurts without added
                        sugars</li>
                    <li>These come in a variety of flavors and can be a great dessert substitute.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="weight-two">
        <div>
            <ul>
                <h2>Meats</h2>
                <li>If your favorite recipe calls for frying fish or breaded chicken, try <br> healthier variations by  baking
                    or grilling</li>
                <li>Maybe even try dry beans in place of meats.</li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Comfort Foods</h2>
                <li>Healthy eating is all about balance.</li>
                <li>You can enjoy your favorite foods, even if they <br>
                     are high in calories, fat or added sugars</li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div>
        <h1>Healthy Ways to Gain Weight If You Are Underweight</h1>
        <div class="gainweight">
            <div>
                <ul>
                    <h2>Eat Nutrient- Rich Food</h2>
                    <li>Food is the most powerful factor that can make or break your health</li>
                    <li>If you are trying to gain weight, the first thing you need to be conscious of is your choice of
                        food.</li>
                </ul>
            </div>
            <div>
                <ul>
                    <h2>Increase Protein Intake</h2>
                    <li>Protein is essential for gaining muscle mass and is a quintessential element for promoting
                        healthy weight gain.</li>
                    <li>Include natural sources of protein like egg, milk, soy, peas, lean chicken, fish, etc in your
                        diet.</li>
                </ul>
            </div>
            <div>
                <ul>
                    <h2>Get Adequate Sleep</h2>
                    <li>Whether you want to lose weight or gain it, getting an adequate amount of sleep is a key factor
                        in maintaining a healthy body.</li>
                    <li>While you sleep, your body’s mechanism starts its’s healing and building process</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gainweight">
        <div>
            <ul>
                <h2>Eat More Calories</h2>
                <li>Eating surplus calories can help you gain weight.</li>
                <li> But be wise while choosing your calories. Steer <br>
                     clear of junk food and empty calories and choose <br>
                      more healthy foods like nuts, seeds, whole grains, and good fats</li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Eat Frequent Meals</h2>
                <li>Make a habit of eating small but frequent meals.</li>
                <li>These meals should be nutrient-dense to fill your <br>
                     body’s daily requirements to carry out daily bodily <br>
                      functions and form muscle mass.</li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Exercise</h2>
                <li>Engage in physical activities that will help you build <br>
                     muscle mass. </li>
                <li> Strength training is one of the best exercises to <br>
                     promote healthy weight gain</li>
            </ul>
        </div>
    </div>
</body>

</html>