<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <h1>Signup</h1>
    </header>
    <div class="forms">
        <div>
            <h1>create a new account </h1>
            <h5>It's quick and easy.</h5>
        </div>
        <img src="images/signup.png" alt="login">
        <form action="#" method="post">
            <input type="text" name="firstname" id="firstname" placeholder="   First Name">
            <br>
            <br>
            <input type="text" name="secondname" id="secondname" placeholder="   Surename ">
            <br>
            
            <br>
            <input type="text" name="MobileNumber" id="MobileNumber" placeholder="    MobileNumber">
            <br>
            <br>
            <input type="email" placeholder="   Email address">
            <br>
            <br>
            <input type="password" name="password" id="password" placeholder="  Enter Password">
            <br>
            <br>
            <span class="gender">
              <input type="radio" id="Male" name="Gender" value="Male">
              <label for="Male">Male</label>
              <input type="radio" id="Female" name="Gender" value="Female">
              <label for="Female">Female</label>
              <input type="radio" id="custom" name="Gender" value="custom">
              <label for="custom">Custom</label>
            </span>
            <br>
            <br>
            <button type="submit">Sign Up</button>
        </form>
        <br>
        <small><a href="./login.html"> Already have an account? </a></small>
    </div>
</body>

</html>
<!-- 
     <!DOCTYPE HTMl>

<html lang="en">

<head>
    <title>Forms</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <h1>SIGNUP</h1>
        <img src="../image/signup.png" alt="signup">
    </header>
    <div class="forms1">

        <form action="post" autocomplete="off">

            <input type="text" name="First" id="First" required placeholder="Enter your Name ">
            <br>
            <br>
            <input type="email" name="email" id="email" required placeholder="Enter your Email">
            <br>
            <br>
            <input type="text" name="number" id="number" required placeholder="Enter your Number">
            <br>
            <br>
            <input type="password" name="password" id="password" required placeholder="Enter your Password">
            <br>
            <br>
            <input type="password" name="cpassword" id="cpassword" required placeholder="Conform Password">
            <br>
            <br>
            <button type="submit">signup</button>
        </form>
        <br>
        <br>
    </div>
    <small>Allready have an account ? <a href="./login.html"> click here </a></small>
</body>

</html> -->