header>h1{
    color: orange;
    text-align: center;
}
img{
    width: 200px;
}
.forms{
    padding: 10px;
    display: inline-block;
}
input{
    width: 300px;
    height: 25px;
    border-color: aliceblue;
}
body{
    text-align: center;
}
div{
    border: 1px solid black;
    border-color: bisque;
}
button{
    width: 100px;
    font-weight: bolder;
    background-color: orange;
    border-radius: 10px;
    color: aliceblue;
    height: 30px;   
    border-color: aliceblue;
}
a{
    text-decoration: none ;
    font-weight: 600;
    color: blue;
}
p{
    font-weight: bolder;
}
button>a{
    color: beige;
}