.home1{
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 1300px;
    width: 280x;
    margin-top: 0px;
    padding-top: 0px;
    padding: 0px;
    margin: 0px;
}